<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>

    
</head>
<body>
    <div class="row bg-dark text-white p-2">
        <div class="col">
            <span class="navbar-brand m-lg-2">Bookstore</span>
        </div>
        <div class="col-6 text-end">
            <vc:cart-summary></vc:cart-summary>
        </div>

    </div>
    
    <div class="row m-1 p-1">
        

        <div class="col-9">
            <div>
                @RenderBody()
            </div> 
        </div>

        <div id="types" class="col" style="margin-left: 5px;">
            <h2 style="margin-bottom: 3rem;">Sort by category:</h2>
            <vc:types></vc:types>
        </div>

    </div>
    
</body>
</html>
