@{
}
@model BooksViewModel

<h1>Welcome to the Bookstore!</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Isbn</th>
            <th>Classification</th>
            <th>Category</th>
            <th>PageCount</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in Model.Books)
        {
            <partial name="BookSummary" model="b"/>
        }
    </tbody>

</table>


<div page-numbers="@Model.PageInfo" page-action="Index" page-class="btn"></div>